---
interface Props {
	custom?: string;
    title: string;
    isMain?: boolean;
}

const { custom, title, isMain = false } = Astro.props;
---

<!-- Main container  -->
<div class={`${custom}`}>
    <!-- Wrapper container -->
    <div class="flex w-full h-full bg-white border-t-2 border-l-2 border-r-4 border-b-4 border-solid border-black flex-col"> 
        <!-- Head  -->
        {
            isMain ?(
                <div class="flex w-full p-2 items-center border-b-2 border-solid border-black gap-2">
                    <slot name="btnWrapper"/>
                </div>
                
                ) : <div class="flex w-full py-1 px-2 items-center border-b-2 border-solid border-black gap-2">
                        <div class="flex w-full justify-start items-center gap-1 min-h-[24px]">
                            <h2 class="text-black font-normal leading-normal text-stroke">
                                >
                            </h2>
                            <h2 class="text-black font-normal leading-normal">
                                {title}
                            </h2>
                        </div>
                    </div>
        }
        <!-- Main content  -->
        <div class="flex p-2 items-center gap-2 w-full h-full flex-col justify-evenly">
            <slot />
        </div>
    </div>
</div>