---
interface Props {
    title: string
}

const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Étudiant en BUT MMI à l'IUT Bordeaux Montaigne. Passionné par le développement web, le design et la 3D, je présente ici mes projets et compétences en HTML, CSS, JavaScript, PHP, C#, Unity, Vue.js, Laravel, Node.js, Blender, et Three.js. Explorez mon parcours et contactez-moi pour des collaborations uniques.">
		<meta name="title"content="Pedro Barros Parente - Développement Web et Design">
		<title>{title}</title>
	</head>
	<body class="overflow-x-hidden">
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	@import url("/reset.css");

	@font-face {
		font-family: 'macintosh';
		src: url('/fonts/macintosh_regular-webfont.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	
	* {
        font-family: 'macintosh';
    }

	P, h1, h2, h3, a{
		font-family: 'macintosh';
		font-weight: 400;
		line-height: normal;
		font-size: clamp(1rem, -1rem + 2.0833vw, 1.5rem);

		word-spacing: 0.05em;
        letter-spacing: 0.02em;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        hyphens: auto;
        overflow-wrap: break-word;
	}

	a{
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 2px;
	}

	.text-stroke{
		-webkit-text-stroke: 1px black;
		text-stroke: 1px black;
	}

	::-webkit-scrollbar {
		width: 5px;
		background-color: white;
	}
	::-webkit-scrollbar-thumb {
		width: 20px;
		box-sizing: content-box;
		background-color: white;
		border: 2px solid black;
		border-right: none;
	}
	::-webkit-scrollbar-track {
		background: linear-gradient(45deg,black 25%,transparent 25%,transparent 75%,black 75%,black),linear-gradient(45deg,black 25%,transparent 25%,transparent 75%,black 75%,black);
		background-color: white;
		background-size: 4px 4px;
		background-position: 0 0,2px 2px;
		width: 10px;
		border-left: 3px solid black;
	}

	.scale-anim{
		transform: scale(0);
	}

	#demo-canvas {
		canvas{
			width: 100% !important;
		}
	}

	@media (max-width: 1450px){
		#demo-canvas {
			canvas{
				height: 100% !important;
			}
		}
	}
	@media (max-width: 480px){
		.text-about{
			font-size: 14px;
		}
	}
	@media (max-width: 391px){
		.text-about{
			font-size: 12px;
		}
	}
</style>

<script>
	import 'primevue/resources/primevue.min.css';
	
</script>


